ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 20pt;
    color: black;
    padding: 10px;
}
.fa-envelope:hover{
    color: #007bff;
}
.fa-github-alt:hover{
    color: #007bff;

}
.fa-linkedin-square:hover{
    color: #007bff;
}

.fa-code:hover{
    color: #007bff;
}

.border-form{
    border-radius: 40px;
}

.edit:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}