<footer class="page-footer font-small bg-white pt-3 m-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Saiba mais sobre o projeto</h4>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="maria.jaraujo@ufpe.br" target="_blank" class="icoFacebook">
                            <i class="fa fa-envelope edit" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mrjulia22" target="_blank" class="icoInstagram">
                            <i class="fa fa-github-alt edit" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/maria-julia-lemos/" target="_blank" class="icoLinkedin ">
                            <i class="fa fa-linkedin-square edit" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://mrjulia22.github.io/Blog_pessoal_compo_doc/" target="_blank" class="icoCode"><i
                                class="fa fa-code edit" aria-hidden="true"></i></a>

                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-copyright bg-primary text-center py-2 border-form shadow-sm">
        <span class="text-white"> &copy; 2022 Copyright: Maria Julia Lemos </span>
        

    </div>
</footer>