<div class="container-fluid ">
    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center p-5 ">

                <div class="col-md-6 border border-white border-form shadow m-5">

                    <h1 class="text-center font-weight-normal mt-5 mb-3">Entrar</h1>

                    <div class="form-group border-form shadow-sm">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]="userLogin.usuario" class="form-control border-form" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-group border-form shadow-sm">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]="userLogin.senha" class="form-control border-form" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center pt-3 my-4">
                        <button type="submit" class="btn btn-primary border-form shadow" (click)="entrar()">Login</button>
                    </div>

                    <hr class="">

                    <p class="text-center pb-3">
                        Não tem uma conta?<a routerLink="/cadastrar"> <br>Cadastre-se</a>
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-6" id="img-bg"></div>

    </div>
</div>